.main-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 420px;
  height: 55px;
  border-radius: 4px;
  background-color: var(--color-second);
  font-family: inherit;
  color: var(--color-third);
  font-size: 20px;
  cursor: pointer;
  box-shadow: 4px 4px var(--color-black-first);
  transition: transform 150ms ease-in-out;
}

.main-button:hover {
  transform: scale(1.02);
}